<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{#        <meta name="keywords" content="">#}
{#        <meta name="description" content="">#}
{#        <meta name="author" content="">#}
{#        <meta property="og:title" content="">#}
{#        <meta property="og:site_name" content="">#}
{#        <meta property="og:url" content="">#}
{#        <meta property="og:description" content="">#}
{#        <meta property="og:image" content="">#}
        <meta property="og:type" content="website">
        <title>{% block title %}Pépite{% endblock %}</title>
        {% block stylesheets %}
            <link rel="shortcut icon" href="{{ asset('img/favicon.ico') }}" type="image/x-icon">
            <link rel="icon" href="{{ asset('img/favicon.ico') }}" type="image/x-icon">
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Serif+Pro:wght@700&display=swap" rel="stylesheet">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include 'components/navbar.html.twig' %}

        <main>
            {% block content %}{% endblock %}
        </main>

        {% include 'components/footer.html.twig' %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
